:root {
    --blue: #38bdf8;
    --grey: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

li {
    list-style: none;
}

.container {
    display: grid;
}

#main-container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

#sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: 1fr 10fr;
    background-color: var(--blue);
}

#sidebarheader-container {
    grid-row: 1;
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 1px black;
}

#sidebarheader-container::before {
    content: '';
    width: 30%; 
    height: 100%;
    background-image: url('images/crownIcon.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
    margin-left: auto;
    margin-right: 10%;
}

#white-container {
    grid-template-rows: 2;
}

#uppercentral-container {
    grid-row: 1;
    grid-template-columns: 1.5fr 1fr;
}

#search-container {
    grid-column: 1;
}

#search {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 4%;
}

#loggedaccount-container {
    border: 1px solid black;
    position: relative;
    margin-left: auto;
}

#loggedaccount-container::before {
    content: '';
    width: 100%; 
    height: 100%;
    border: 1px solid black;
    background-image: url('images/ava.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-right: 10%;
    position: absolute;
    left: -100%;
}

#header-container {
    grid-row: 2;
}

#maincontent-container {
    grid-area: 2 / 2 / 3 / 3; 
    background-color: var(--grey);
    grid-template-columns: 3fr 1fr;
}

#maincontentright-container {
    grid-column: 2;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
}

#maincontentleft-container {
    grid-column: 1;
}

#projects-container {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}


