:root {
    --lightgray: #F5F5F5;
    --darkcharcoal: #333333;
    --mutedgreen: #6EB69C;
    --lightgray: #CCCCCC;
    --offwhite: #FAF9F6;
    --softcream: #FFF7E5;
    --softgreen: #98FB98;
    --lightpeach: #FFE5B4;
    --softgray: #666666;
    --blanchedalmond: #FFEDCC;
    --peachsnow: #E8CDAF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
}

h2 {
    padding-bottom: 1.3vh;
}

li {
    list-style: none;
}

button {
    height: 3vh;
    border-radius: 50px;
    width: 9vh;
}

.container {
    display: grid;
}

.top-container {
   padding-top: 2vh;
   background-color: var(--offwhite);
}

.bold-text {
    font-size: 2vh;
    font-weight: 600;
}

.sidebar-text li {
    color: var(--darkcharcoal);
}

.header {
    padding-left: 20%;
    color: var(--darkcharcoal);
}

.project-image {
    background-repeat: no-repeat;
    background-size: 100% 80%; 
    background-position: center top 3vh;
    cursor: pointer;
}

#sidebar-header {
    color: var(--softgray);
}

#main-container {
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100%;
}

#sidebar-container {
    grid-column: 1;
    grid-template-rows: 10% 35% 55%;
    background-color: var(--lightgray);
    padding-left: 2vh;
}

#sidebarheader-container {
    align-items: center;
    justify-items: center;
    position: relative;
}

#sidebarheader-container::before {
    content: '';
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('images/dashboardIcon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: absolute;
    left: 0;
}

#home-container {
    position: relative;
}

#home-container::before {
    content: '';
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('images/homeIcon.png');
    background-repeat: no-repeat;
    background-size: 20% 20%; 
    position: absolute;
    border: 2px magenta solid;
}

#right-container {
    grid-column: 2;
    grid-template-rows: 1fr 5fr;
}

#white-container {
    grid-column: 1;
    grid-template-rows: 2;
    background-color: var(--offwhite);
    padding-left: 2vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}

#upperwhite-container {
    grid-row: 1;
    grid-template-columns: 1.5fr 1fr;
    height: 2vh;
}

#search-container {
    grid-column: 1;
}

#search-container{
    position: relative;
}

#search {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5%;
    margin-left: 4%;
    background-color: var(--softcream);
    border-color: var(--softcream);
    border-style: solid;
}

#search-container::before {
    content: '';
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('images/searchIcon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#search-container::after {
    content: '';
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('images/notificationIcon1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -16vw;
}

#loggedaccount-container {
    position: relative;
    margin-left: auto;
    align-items: center;
}

#loggedaccount-container::before {
    content: '';
    height: 200%; 
    aspect-ratio: 1 / 1;
    background-image: url('images/ava.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-right: 10%;
    position: absolute;
    left: -3vw;
}

#lowerwhite-container {
    grid-row: 2;
    grid-template-columns: 1.3fr 1fr;
}

#greetings-container {
    grid-column: 1;
    position: relative;
    width: 30vw;
    height: 5vh;
    justify-items: start;
    align-items: center;
    margin-top: 3.5vh;;
}

#greetings-container::before {
    content: '';
    height: 200%; 
    aspect-ratio: 1 / 1;
    background-image: url('images/ava.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-right: 10%;
    position: absolute;
    left: 0;
}

#buttons-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5vh;
    align-items: center;
    margin-left: auto;
}

#maincontent-container {
    grid-row: 2;
    background-color: var(--softcream);
    grid-template-columns: 3fr 1fr;
    padding-left: 2vh;
    gap: 2vh;
    padding-top: 3vh;
    padding-right: 3vh;
    justify-content: end;
    align-items: baseline;
    border: 1px black solid;
}

#maincontentright-container {
    grid-column: 2;
    grid-template-rows: 1fr 1fr;
}

#maincontentleft-container {
    grid-column: 1;
}

#projects-container ul {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2vh;
}

#projects-container ul li {
    background-color: var(--blanchedalmond);
    border-left: 10px solid var(--peachsnow);
    height: 30vh;
}

#calculator {
    background-image: url('./images/calculatorScreenshot.png');
}

#sketch {
    background-image: url('./images/sketchScreenshot.png');
}

#rps {
    background-image: url('./images/rpsScreenshot.png');
}

#signup {
    background-image: url('./images/formScreenshot.png');
}

#landing {
    background-image: url('./images/landingScreenshot.png');
}

#recipes {
    background-image: url('./images/recipesScreenshot.png');
}

#maincontentright-container div {
    background-color: var(--lightpeach);
}






